.tutorials-container {
  position: relative;
  width: 100%;
}

:host {
  min-width: 500px;
  max-width: 49%;
}

.tutorial-refresh-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.list-item {
  margin: 5px 0px;
  border: 1px solid black;
  min-width: 150px;
  min-height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 10px;
}
